const firebaseConfig = {
  apiKey: "AIzaSyBihpUgxFqffqoyndKtnzQZiQOSV20zVWY",
  authDomain: "volunteer-network-f9032.firebaseapp.com",
  databaseURL: "https://volunteer-network-f9032.firebaseio.com",
  projectId: "volunteer-network-f9032",
  storageBucket: "volunteer-network-f9032.appspot.com",
  messagingSenderId: "841763163190",
  appId: "1:841763163190:web:d19309ae9c56c0b5db5c97"
};