.log-in {
  border: 1px solid lightGrey;
  width: 570px;
  height: 457px;
  margin: 100px auto;
}

.button {
  display: flex;
  align-items: center;
  height: 45px;
  border-radius: 50px;
  width: 350px;
  margin: 180px auto;
  border: 1px solid lightGrey !important;
}
.googleButton {
  border: none;
  outline: none !important;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background: none !important;
}
.googleButton:hover {
  outline: none !important;
}
